* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-size: 16px;
  background-color: #f1ffef;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  
}

section {
  margin: 30px auto;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #17632d;
  color: #f1ffef;
  padding: 15px 0;
}

#submit, 
.select-btn {
  border: none;
  background-color: #17632d;
  color: #f1ffef;
  font-size: 1.1rem;
  border-radius: 2px;
  border: 1px solid #17632d;
}

#submit:hover,
.select-btn:hover {
  box-shadow: 0 0 2px 1px #17632d;
  cursor: pointer;
}

#header {
  background-color: #f1ffef;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: end;
}

#header-img {
  width: 60px;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0;
  padding-bottom: 10px;
}

#nav-bar a {
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 5px 15px;
  width: 100%;
  border-radius: 2px;
}

#nav-bar a:hover {
  color: #f1ffef;
  background-color: #17632d;
}

#sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

#form {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

#email {
  margin-bottom: 15px;
  width: 300px;
  height: 30px;
}

#submit {
  width: 130px;
  height: 30px;
}

.service-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.service-img {
  width: 50px;
  height: 50px;
}

#pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;
} 

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f1ffef;
  margin: 15px;
  border: 1px solid #17632d;
  border-radius: 2px;
  min-width: 250px;
}

.card-head {
  flex: none;
  color: #f1ffef;
  background-color: #17632d;
  text-align: center;
  width: 100%;
}

.card-body ul {
  padding: 0;
}

.card-body ul li {
  list-style-type: none;
  padding: 5px 0;
}

.price {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.select-btn {
  width: 75px;
  height: 30px;
  margin: 0 0 10px 0;
}

#footer-nav a {
  padding: 0 15px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #f1ffef;
}

@media only screen and (min-width: 769px) {
  #header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  #nav-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #nav-bar a {
    width: 150px;
  }

  #pricing {
    flex-direction: row;
  }
}